.view-ca-news-lists .views-field-field-ca-news-n-image, 
.view-ca-news-term .views-field-field-ca-news-n-image, 
.view-id-ca_news_block .views-field-field-ca-news-b-image {
  float: none;
  padding: 0;
  text-align: center;
}

.view-ca-news-lists .views-field-field-ca-news-n-image img,
.view-ca-news-term .views-field-field-ca-news-n-image img,
.view-id-ca_news_block .views-field-field-ca-news-b-image img {
  padding: 0 0 5px 0;
}

.ca-news-node-template-1 .pane-ca-news-nodes-ca-news-node-1-a {
  float: none;
  margin: 0;
  padding-right: 0;
  text-align: center;
}
  
.node-type-ca-news .pane-ca-news-nodes-ca-news-node-1-a img {
  padding: 0 0 5px 0;
}

.ca-news-node-template-1 .pane-ca-news-nodes-ca-news-node-1-b {
  float: none;
  clear: left;
  padding: 0 0 5px;
  text-align: center;
  width: auto;
}

.ca-news-node-template-1 .pane-ca-news-nodes-ca-news-node-1-b td {
  text-align: center;
}

.node-type-news .pane-node-terms li {
  display: inline-block;
  padding: 5px;
}

.view-display-id-ca_news_node_1 .views-field-view-node {
  float: none;
  text-align: center;
}

.view-display-id-ca_news_block_4 table {
  border: none;
}

.view-display-id-ca_news_block_4 td {
  float: left;
}

@media only screen and (min-width:680px) {
  .view-ca-news-lists .views-field-field-ca-news-n-image, 
  .view-ca-news-term .views-field-field-ca-news-n-image, 
  .view-id-ca_news_block .views-field-field-ca-news-b-image {
    float: left;
  }

  .view-ca-news-lists .views-field-field-ca-news-n-image img,
  .view-ca-news-term .views-field-field-ca-news-n-image img,
    .view-id-ca_news_block .views-field-field-ca-news-b-image img {
    padding: 0 15px 5px 0;
  }

  .pane-ca-news-nodes-ca-news-node-1-a .block-inner,
  .pane-ca-news-nodes-ca-news-node-1-b .block-inner {
    margin-right: 0;
  }

  .view-display-id-ca_news_block_4 table {
    border: 1px solid;
  }

  .view-display-id-ca_news_block_4 td {
    float: none;
  }

  .ca-news-node-template-1 .pane-ca-news-nodes-ca-news-node-1-a {
    float: left;
  }

  .node-type-ca-news .pane-ca-news-nodes-ca-news-node-1-a img {
    padding: 0 15px 5px 0;
  }

  .ca-news-node-template-1 .pane-ca-news-nodes-ca-news-node-1-b {
    float: left;
    clear: left;
    padding: 0 15px 5px 0;
    text-align: center;
    width: 210px;
  }

  .node-type-news .pane-node-terms li {
    display: inline-block;
    padding: 5px;
  }

  .view-display-id-ca_news_node_1 .views-field-view-node {
    float: left;
  }
}