.views-field-field-ca-news-n-image {
  float: left;
  padding-bottom: 5px;
  padding-right: 10px;
}

.view-display-id-ca_news_block_1 .views-field-field-ca-news-n-image {
  padding-right: 10px;
}

#news-images { 
  float: left;
}

.view-ca-news .views-field-nothing {
  clear: both;
}

#news-images .views-field-field-ca-news-n-image-1 {
  width: 200px;
}

#news-images .views-field-field-ca-news-n-image-1 img {
  padding-right: 5px;
  padding-bottom: 5px;
}
