/* Node CSS */
 /*Template 1*/
.ca-event-node-template-1 .pane-ca-news-nodes-ca-news-node-1-a, .ca-event-node-template-1 .pane-ca-news-nodes-ca-news-node-1-b {float: left; padding-right: 10px;}
.ca-event-node-template-1 .pane-ca-news-nodes-ca-news-node-1-b {clear: left; width: 200px;}
.ca-event-node-template-1 .pane-ca-news-nodes-ca-news-node-1-b table {margin-bottom: 5px;}
.ca-event-node-template-1 .pane-ca-news-nodes-ca-news-node-1-b td {padding: 4px 2px;}
.ca-event-node-template-1 .pane-ca-news-nodes-ca-news-node-1-b .item-list ul {border: none;}

 /*Template 2*/
.ca-event-node-template-2 .panels-flexible-row-2-1 .panel-pane, .ca-event-node-template-2 .panels-flexible-row-2-1 .panel-separator {display: inline-block;}

/* Blocks CSS */
.view-display-id-ca_news_block_1 .views-field-field-ca-news-n-image, .view-display-id-ca_news_block_4 .views-field-field-ca-news-n-image { float: left; padding-right: 10px; }
.view-ca-news-blocks td { vertical-align: top; }
.view-display-id-ca_news_block_3 .views-field-field-ca-news-n-image, .view-display-id-ca_news_block_3 .views-field-title { text-align: center; } 
.view-display-id-ca_news_block_3 .views-field-body { text-align: justify; }
.view-ca-news-blocks .views-field-view-node { clear: left; text-align: right; padding-right: 10px; }
/* Lists CSS */
.view-ca-news-lists .views-field-field-ca-news-n-image { float: left; padding-bottom: 5px; padding-right: 10px; }
.view-ca-news-lists .views-field-view-node { clear: left; text-align: right; padding-right: 10px; }
.view-ca-news-lists .views-field-nothing { clear: both; }
.view-id-ca_news_lists td { vertical-align: top; }
.view-display-id-ca_news_list_4 .col-1, .view-display-id-ca_news_list_4 .col-2 { width: 50%; }